@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }

@model WebMedicure.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Set password";
}

<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
    <p>You do not have a local username/password for this site. Add a local account so you can log in without an external login.</p>
</div>
@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.DevExpress().TextBoxFor(m => m.NewPassword, s => {
       s.Properties.Caption = "New Password";
       s.Properties.Password = true;
       s.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
       s.ShowModelErrors = true;
       s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()
    @Html.DevExpress().TextBoxFor(m => m.ConfirmPassword, s => {
        s.Properties.Caption = "Confirm Password";
        s.Properties.Password = true;
        s.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
        s.ShowModelErrors = true;
        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()
    <br />
    @Html.DevExpress().Button(s => {
        s.Name = "SetPassword";
        s.Text = "Set password";
        s.UseSubmitBehavior = true;
    }).GetHtml()
}