@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }

 
 
@model WebMedicure.Models.VerifyPhoneNumberViewModel 
@{ 
    ViewBag.Title = "Verify Phone Number"; 
} 
 
<div class="accountHeader">
    <h2>Enter verification code</h2>
</div>
@using (Html.BeginForm("VerifyPhoneNumber", "Manage")) {  
    @Html.AntiForgeryToken() 
 
    @Html.HiddenFor(m => m.PhoneNumber) 
    @Html.DevExpress().TextBoxFor(m => m.Code, s => {
        s.Properties.Caption = "Code";
        s.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
        s.ShowModelErrors = true;
        s.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.ImageWithText;
    }).GetHtml()    <br /> 
    @Html.DevExpress().Button(s => {
        s.Name = s.Text = "Submit";
        s.UseSubmitBehavior = true;
    }).GetHtml() 
}