@model HeaderViewRenderMode?

<style>
    a.clase{
    font-family: 'Elianto';
    font-size: 2.5em;
    color: white;
}
</style>
@if (Model == HeaderViewRenderMode.Title) {
    <div class="templateTitle">
        @Html.ActionLink("Medicure", "Index", "Home", "", new {@class = "clase" })
    </div>
} else { 
    if(Model == HeaderViewRenderMode.Full) { 
        <div class="headerTop">
            <div class="templateTitle">
                @Html.ActionLink("Medicure", "Index", "Home", "", new { @class = "clase" })
            </div>
            <div class="loginControl">
                @Html.Partial("LogOnPartialView")
            </div>
        </div>
    }

    <div class="headerMenu">
            @Html.DevExpress().Menu(settings =>
                {
                    settings.Name = "HeaderMenu";
                    settings.ItemAutoWidth = false;
                    settings.ControlStyle.CssClass = "headerMenu";
                    settings.ControlStyle.BackColor = System.Drawing.Color.Black;
                    settings.ControlStyle.ForeColor = System.Drawing.Color.White;
                    settings.ControlStyle.SeparatorColor = System.Drawing.Color.White;
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/TopMenu.xml"), "/items/*").GetHtml()
    </div>
}