﻿@model WebMedicure.Models.TurnoModel
@{
    ViewBag.Title = "Turnos";
    ViewBag.Usuario = "Usuario";
}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col d-none d-sm-none d-md-block col-sm-2 col-md-2 col-lg-2">
            </div>
            <div class="col-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row justify-content-center">
                    <div class="col">
                        <center>
                            <div class="accountHeader">
                                <h2>Reserva de turnos</h2>
                                <p>Para reservar su turno, por favor complete los datos a continuacion.</p>
                                <p style="color:red">@ViewBag.ErrorMessage</p>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @using (Html.BeginForm("Reserva", "Turnos", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @(Html.DevExtreme().Form<WebMedicure.Models.TurnoModel>()
                          .ID("formTurno")
                          .ColCount(Mode.Auto)
                          .LabelLocation(FormLabelLocation.Top)
                          .ColCountByScreen(c => c.Xs(1).Sm(2).Md(2).Lg(2))
                          .Items(items =>   
                          {
                              items.AddGroup().Caption("Datos personales").Items(item =>
                              {
                                  item.AddSimpleFor(m => m.Paciente.Nombre).Label(l=> l.Text("Nombre"))
                                  .Editor(e => e.TextBox().Disabled(true));
                                  item.AddSimpleFor(m => m.Paciente.Apellido).Label(l => l.Text("Apellido"))
                                      .Editor(e => e.TextBox().Disabled(true));
                                  item.AddSimpleFor(m => m.Paciente.Dni).Label(l => l.Text("DNI"))
                                      .Editor(e => e.TextBox().Disabled(true));
                              });
                              items.AddGroup().Caption("Turno").Items(item =>
                              {
                                  item.AddSimpleFor(m => m.Profesional.Id).Label(l => l.Text("Profesional"))
                                       .Editor(e => e.SelectBox().ID("cmbProfesional").DataSource(Model.Profesionales).ValueExpr("Id").DisplayExpr("Nombre").OnValueChanged("cmbProfesionalChanged"));
                                  item.AddSimpleFor(m => m.Especialidad.Id).Label(l => l.Text("Especialidad"))
                                       .Editor(e => e.SelectBox().DataSource(Model.Especialidades).ValueExpr("Id").DisplayExpr("Nombre").SearchEnabled(true));
                                  item.AddSimpleFor(m => m.Dia)
                                       .Editor(e => e.DateBox().ID("date").OnValueChanged("dateelegido").PickerType(DateBoxPickerType.Calendar)
                                       .ShowDropDownButton(true).Value("").Type(DateBoxType.Date).CalendarOptions(c => c.Min(DateTime.Today.AddDays(1))).Width("100%"));
                                  item.AddSimpleFor(m => m.Hora)
                                       .ValidationRules(r => r.AddRequired().Message("Por favor seleccione una hora"))
                                       .Editor(e => e.SelectBox().ID("select").Placeholder("Hora"));
                                  item.AddButton()
                                  .ButtonOptions(b => b.Text("Reservar").UseSubmitBehavior(true).Type(DevExtreme.AspNet.Mvc.ButtonType.Success));
                              });
                          })
                          .FormData(Model)
                        )
                    }
                </div>
            </div>
            <div class="col d-none d-sm-none d-md-block col-sm-2 col-md-2 col-lg-2">
            </div>
        </div>
    </div>
</div>


<script>
    var arr = [11];
    fecha = "test";
    function cmbProfesionalChanged(profesional) {
        var calendar = getCalendarInstance();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetDias", "Turnos")',
            data: { variable: profesional.value},
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    fecha = data[i].replace("T00:00:00", "");
                    var dia = new Date(fecha);
                    arr[i] = dia;
                }
                calendar.option("disabledDates", arr);
            }
        });
    }


    function getCalendarInstance() {
        return $("#date").dxDateBox("instance");
    }
    function dateelegido(fecha) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetHoras", "Turnos")',
            data: { variable: fecha.value.toDateString(), variable2: $("#cmbProfesional").dxSelectBox("instance").option("value") },
            dataType: "json",
            success: function (data) {
                $("#select").dxSelectBox("instance").option("dataSource", data)
            }
        });
    }
</script>