﻿@model WebMedicure.Models.TurnoModel
@{
    ViewBag.Title = "Turnos";
}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col d-none d-sm-none d-md-block col-sm-2 col-md-3 col-lg-3">
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-6">

                <div class="row justify-content-center">
                    <div class="col">
                        <center>
                            <div class="accountHeader">
                                <h2>Actualizacion de cuenta</h2>
                                <p>En el formulario que se encuentra debajo ingrese sus datos por favor.</p>
                                <p style="color:red">@ViewBag.ErrorMessage</p>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="row justify-content-center">
                   @(Html.DevExtreme().DataGrid<WebMedicure.Models.TurnoModel>()
                        .ID("dataTurno")
                        .Paging(p=> p.Enabled(true))
                        .ShowBorders(true)
                        .Editing(e => {
                            e.AllowAdding(false);
                            e.AllowUpdating(false);
                            e.AllowDeleting(true);
                        })
                        .ColumnHidingEnabled(true)
                        .Columns(c =>
                        {
                            c.AddFor(m => m.Id).Visible(false);
                            c.AddFor(m => m.Profesional.Apellido).Caption("Profesional");
                            c.AddFor(m => m.Especialidad.Nombre).Caption("Especialidad");
                            c.AddFor(m => m.Dia.Date).Caption("Dia");
                            c.AddFor(m => m.Hora).Caption("Hora");
                        })
                        .DataSource(Model.Turnos)
                    )
                </div>
            </div>
            <div class="col d-none d-sm-none d-md-block col-sm-2 col-md-3 col-lg-3">

            </div>
        </div>
    </div>
</div>
