﻿@model WebMedicure.Models.PacienteModel
@{
    ViewBag.Title = "Update";
}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col d-none d-sm-none d-md-block col-sm-2 col-md-3 col-lg-3">
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-6">

                <div class="row justify-content-center">
                    <div class="col">
                        <center>
                            <div class="accountHeader">
                                <h2>Actualizacion de cuenta</h2>
                                <p>En el formulario que se encuentra debajo ingrese sus datos por favor.</p>
                                <p style="color:red">@ViewBag.ErrorMessage</p>
                            </div>
                        </center>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @(Html.DevExtreme().Form<WebMedicure.Models.PacienteModel>()
                          .ID("formTurno")
                          .ColCount(Mode.Auto)
                          .LabelLocation(FormLabelLocation.Top)
                          .MinColWidth(300)
                          //.ColCountByScreen(c => c.Xs(1).Sm(2).Md(2).Lg(2))
                          .Items(items =>
                          {
                              items.AddGroup().Caption("Datos personales").Items(item =>
                              {
                                  item.AddSimpleFor(m => m.Nombre)
                                      .ValidationRules(r => r.AddRequired().Message("Por favor ingrese su nombre"))
                                      .Editor(e => e.TextBox().Disabled(true));
                                  item.AddSimpleFor(m => m.Apellido)
                                      .ValidationRules(r => r.AddRequired().Message("Por favor ingrese su apellido"))
                                      .Editor(e => e.TextBox().Disabled(true));
                                  item.AddSimpleFor(m => m.Dni).Label(l => l.Text("DNI"))
                                      .ValidationRules(r => r.AddNumeric().Message("Por favor ingrese su DNI sin espacios ni guiones"))
                                      .Editor(e => e.TextBox().Disabled(true));
                                  item.AddSimpleFor(m => m.ObraSocial).Label(l => l.Text("Obra Social"))
                                      .ValidationRules(r => r.AddRequired().Message("Por favor seleccione su obra social"))
                                      .Editor(e => e.SelectBox().DataSource(Model.ObrasSociales).SearchEnabled(true).Placeholder("Seleccione..."));
                                  item.AddSimpleFor(m => m.NumeroAfiliado).Label(l => l.Text("Numero de afiliado"))
                                      .ValidationRules(r => r.AddNumeric().Message("Por favor ingrese su numero de afiliado sin espacios ni guiones"))
                                      .Editor(e => e.TextBox().Value(""));
                                  item.AddButton()
                                      .ButtonOptions(b => b.Text("Actualizar").ID("button").UseSubmitBehavior(true).OnClick("disabled").Type(DevExtreme.AspNet.Mvc.ButtonType.Success)).HorizontalAlignment(HorizontalAlignment.Center);
                              });


                          })
                          .FormData(Model)
                        )
                    }
                </div>
            </div>
            <div class="col d-none d-sm-none d-md-block col-sm-2 col-md-3 col-lg-3">

            </div>
        </div>
    </div>
</div>

<script>
    function disabled(e) {
        setTimeout(function () {
            e.component.option("disabled", true)
        }, 100);
    }
</script>